.font-weight-light 		{ font-weight: $font-light !important; }
.font-weight-regular 	{ font-weight: $font-regular !important; }
.font-weight-bold 		{ font-weight: $font-bold !important; }
.font-weight-black 		{ font-weight: $font-black !important; }

.bg-secondary       { background-color: $secondary-color !important; }
.bg-light           { background-color: $light-gray !important; }