// Body
$body-bg:           #f8fafc;

// Colors
$blue:              #3490dc;
$indigo:            #6574cd;
$purple:            #9561e2;
$pink:              #f66d9b;
$red:               #e3342f;
$orange:            #f6993f;
$yellow:            #d9e253;
$green:             #38c172;
$teal:              #4dc0b5;
$cyan:              #6cb2eb;
$white:             #ffffff;
$black:             #0c0c0c;

$primary-color:     #4dc0b9;
$secondary-color:   #545479;
$dark-gray:         #234846;
$gray:              #a3a3a3;
$light-gray:        #eeeeee;
$off-white:         #f3f3f3;
$text-color:		#202020;

$border-color:      $gray;

//fonts
$primary-font:      'Roboto', sans-serif;
$heading-font:      'Roboto', sans-serif;

//font weights
$font-light:        300;
$font-regular:      400;
$font-semi-bold:    600;
$font-bold:         700;
$font-black:        900;